<div class="row">
  <div class="col-md-5 mx-auto">
  <div class="jumbotron my-4">
    <h2 class="text-center text-dark font-weight-bolder ">All Users</h2>
  </div>
    <%= link_to 'New user', new_user_path, class: 'btn btn-primary btn-block mb-4' %>
    <% @users.each do |user| %>
      <%= link_to edit_user_path(user), class: 'text-decoration-none' do %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class='card-title text-dark mb-1'><%= user.username %></h5>
            <p class='text-secondary mb-0'><%= user.email %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
